.Input{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.Input label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.InputElement {
    display: block;
    box-sizing: border-box;
    padding: 6px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: inherit;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: salmon;
}